/*全局样式*/
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, textarea, p { margin: 0px; padding: 0px; }
body { font: 12px/1.8 'Microsoft YaHei', 微软雅黑, Arial, Lucida Grande, Tahoma, sans-serif; }
ol, ul, li { list-style: none; }
/*iE7.0中自带的-ms-interpolation-mode属性可以解决缩放失真问题*/
img { border: none; list-style: none; vertical-align: middle; -ms-interpolation-mode: bicubic; }
input, select, textarea { outline: 0; }
/*清除浮动*/
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.clear { clear: both; }
.hide { display: none; }
.kw-hide { display: none !important; }

a { color: #333; text-decoration: none; }
a:active, a:hover { outline: 0; }

/*常用颜色*/
.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.gray { color: #808080; }

button, input { overflow: visible; vertical-align: middle; outline: 0; }

/*通用标签*/

.pt10 { padding-top: 10px; }
